# 데이터 EDA

In [2]:
cd drive/Othercomputers//내 노트북/googleDrive/BigContest/Rookie_League/01_제공데이터/OtherData

/content/drive/Othercomputers/내 노트북/googleDrive/BigContest/Rookie_League/01_제공데이터/OtherData

In [4]:
import pandas as pd
import numpy as np

In [7]:
team_hitter = pd.read_csv('./팀타자_데이터셋.csv')
team_hitter

               G_ID   GDAY_DS T_ID VS_T_ID  ...  LOB  P_HRA_RT  P_AB_CN  P_HIT_CN
0     20160401HHLG0  20160401   HH      LG  ...   12  0.200000       15         3
1     20160401HHLG0  20160401   LG      HH  ...    8  0.333333       12         4
2     20160401HTNC0  20160401   HT      NC  ...    7  0.100000       10         1
3     20160401HTNC0  20160401   NC      HT  ...    7  0.142857        7         1
4     20160401KTSK0  20160401   SK      KT  ...    5  0.375000        8         3
...             ...       ...  ...     ...  ...  ...       ...      ...       ...
7963  20210711HHSK0  20210711   HH      SK  ...    2  0.000000        1         0
7964  20210711KTHT0  20210711   KT      HT  ...    7  0.000000        5         0
7965  20210711KTHT0  20210711   HT      KT  ...    5  0.200000        5         1
7966  20210711LTSS0  20210711   LT      SS  ...    7  0.000000        7         0
7967  20210711LTSS0  20210711   SS      LT  ...    6  0.444444        9         4

[7968 rows x 28 columns]

### 팀타자 데이터셋 특정 정리
|컬럼|컬럼명|
|--|--|
|G_ID| 게임키|
|GDAY_DS|일자|
|T_ID|팀코드
|VS_T_ID|상대팀코드
|HEADER_NO|더블헤더코드
|TB_SC|초말
|PA|타석
|AB|타수
|RBI|타점
|RUN|득점
|HIT|안타
|H2|2루타
|H3|3루타
|HR|홈런
|SB|도루
|CS|도루실패
|SH|희타
|SF|희비
|BB|4구
|IB|고4
|HP|사구
|KK|삼진
|GD|병살타
|ERR|실책
|LOB|잔루
|P_HRA_RT|득점권타율
|P_AB_CN|득점권타수
|P_HIT_CN|득점권안타|

In [10]:
schedule = pd.read_csv('2021 빅콘테스트_데이터분석분야_루키리그_경기일정_2021.csv')
schedule

              G_ID     GDAY_DS VISIT_KEY HOME_KEY  HEADER_NO GWEEK STADIUM  ACG
0    20210403SSWO0  20210403.0        SS       WO          0     토      고척    1
1    20210404HHKT0  20210404.0        HH       KT          0     일      수원    1
2    20210404HTOB0  20210404.0        HT       OB          0     일      잠실    1
3    20210404LGNC0  20210404.0        LG       NC          0     일      창원    1
4    20210404LTSK0  20210404.0        LT       SK          0     일      문학    1
..             ...         ...       ...      ...        ...   ...     ...  ...
715            NaN         NaN        KT       WO          0   NaN      고척    2
716            NaN         NaN        NC       WO          0   NaN      고척    2
717            NaN         NaN        NC       WO          0   NaN      고척    2
718            NaN         NaN        NC       WO          0   NaN      고척    2
719            NaN         NaN        SS       WO          0   NaN      고척    2

[720 rows x 8 columns]

### 경기일정 데이터셋 특성 정리
|컬럼|컬럼명|
|--|--|
|G_ID|게임키|
|GDAY_DS|일자|
|VISIT_KEY|원정팀코드|
|HOME_KEY|홈팀코드|
|HEADER_NO|더블헤더코드|
|GWEEK|요일|
|STADIUM|구장|