# 제시된 경기 일정 중 제출 시에 필요한 일정 정보만 추출
본 task는 2021년 __9월 15일__ 부터 2021년 __10월 8일__ 까지의 경기 결과를 예측한다.
> 그 외의 경기 일정은 제거 후 새로운 csv 파일 생성

In [9]:
cd drive/Othercomputers/내 노트북/googleDrive/BigContest/Rookie_League/01_제공데이터

/content/drive/Othercomputers/내 노트북/googleDrive/BigContest/Rookie_League/01_제공데이터

In [12]:
import pandas as pd
import numpy as np

# 경기 일정 csv import

gameDate = pd.read_csv('./2021 빅콘테스트_데이터분석분야_루키리그_경기일정_2021.csv', encoding='euc-kr')
gameDate

              G_ID     GDAY_DS VISIT_KEY HOME_KEY  HEADER_NO GWEEK STADIUM  ACG
0    20210403SSWO0  20210403.0        SS       WO          0     토      고척    1
1    20210404HHKT0  20210404.0        HH       KT          0     일      수원    1
2    20210404HTOB0  20210404.0        HT       OB          0     일      잠실    1
3    20210404LGNC0  20210404.0        LG       NC          0     일      창원    1
4    20210404LTSK0  20210404.0        LT       SK          0     일      문학    1
..             ...         ...       ...      ...        ...   ...     ...  ...
715            NaN         NaN        KT       WO          0   NaN      고척    2
716            NaN         NaN        NC       WO          0   NaN      고척    2
717            NaN         NaN        NC       WO          0   NaN      고척    2
718            NaN         NaN        NC       WO          0   NaN      고척    2
719            NaN         NaN        SS       WO          0   NaN      고척    2

[720 rows x 8 columns]

In [13]:
# 날짜 데이터의 소수점 제거
gameDate['GDAY_DS'] = gameDate['GDAY_DS'].replace(np.nan, 0)
gameDate['GDAY_DS'] = gameDate['GDAY_DS'].astype(int)
gameDate

              G_ID   GDAY_DS VISIT_KEY HOME_KEY  HEADER_NO GWEEK STADIUM  ACG
0    20210403SSWO0  20210403        SS       WO          0     토      고척    1
1    20210404HHKT0  20210404        HH       KT          0     일      수원    1
2    20210404HTOB0  20210404        HT       OB          0     일      잠실    1
3    20210404LGNC0  20210404        LG       NC          0     일      창원    1
4    20210404LTSK0  20210404        LT       SK          0     일      문학    1
..             ...       ...       ...      ...        ...   ...     ...  ...
715            NaN         0        KT       WO          0   NaN      고척    2
716            NaN         0        NC       WO          0   NaN      고척    2
717            NaN         0        NC       WO          0   NaN      고척    2
718            NaN         0        NC       WO          0   NaN      고척    2
719            NaN         0        SS       WO          0   NaN      고척    2

[720 rows x 8 columns]

In [15]:
# 정해지지 않은 일정과 task 일정 외의 경기 제거
gameDate = gameDate[gameDate['GDAY_DS'] != 0]
gameDate = gameDate[gameDate['GDAY_DS'] < 20211009]
gameDate = gameDate[gameDate['GDAY_DS'] > 20210914]
gameDate

              G_ID   GDAY_DS VISIT_KEY HOME_KEY  HEADER_NO GWEEK STADIUM  ACG
534  20210915HHSK0  20210915        HH       SK          0     수      문학    2
535  20210915KTOB0  20210915        KT       OB          0     수      잠실    2
536  20210915LGSS0  20210915        LG       SS          0     수      대구    2
537  20210915LTHT0  20210915        LT       HT          0     수      광주    2
538  20210915WONC0  20210915        WO       NC          0     수      창원    2
..             ...       ...       ...      ...        ...   ...     ...  ...
634  20211008LGHT0  20211008        LG       HT          0     금      광주    2
635  20211008LTOB0  20211008        LT       OB          0     금      잠실    2
636  20211008SKHH0  20211008        SK       HH          0     금      대전    2
637  20211008SSNC0  20211008        SS       NC          0     금      창원    2
638  20211008WOKT0  20211008        WO       KT          0     금      수원    2

[105 rows x 8 columns]

In [20]:
gameDate.to_csv('Schedule.csv', mode = 'w', header=False)  # 생성된 df 저장